package layout

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>hx-swap-oob vs hx-on</title>
			<script src="/static/htmx.min.js"></script>
			<link href="/static/app.css" rel="stylesheet"/>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
